
{% macro render_gallery(item, id="gallery", title="Photos") %}
  <ul id="{{ id }}">
    {% for image in item.attachments.images|list|sort(attribute='path') %}
    <li data-thumb="{{ image.thumbnail(300) }}"
        data-src="{{ image|url }}"
        data-sub-html="{{ image.caption }}">
        <img src="{{ image.thumbnail(300) }}" alt="{{ image.caption }}">
    </li>
    {% endfor %}
  </ul>
  <script language="javascript">
    $(document).ready(function() {
      $('#gallery').lightSlider({
          mode: "slide",
          thumbItem: 6,
          currentPagerPosition:'left',
          controls: true,
          pager: true,
          loop: true,
          auto: true,
          speed: 800,
          enableTouch: false,
          enableDrag: false,
          onSliderLoad: function(el) {
            el.lightGallery({
              selector: '#{{ id }} .lslide'
            });
          }
      });
    });
  </script>
{% endmacro %}
