{% extends "layout.html" %}
{% block title %}{{ this.name }}{% endblock %}
{% block body %}
  <h2>{{ this.name }}</h2>
  {% if this.archive %}
  <p class="font-weight-bold font-italic">{{ this.name }} is an archive artist, no future music for this artist will be made.</p>
  {% endif %}
  {{ this.description }}
  <br />
  {% for music in this.attachments.order_by('-year') %}
  <div class="container row">
    <figure>
      <figcaption><p><span class="font-weight-bold">{{ music.name }}</span> ({{ music.year }}{% if music.live %} Live Recording{% endif %})
    {% if music.description %}
        <br />{{ music.description }}
    {% endif %}
		{% if music.tags|count > 0 %}
          <span class="font-italic">Tags: {% for t in music.tags %}{{ t }}{% if not loop.last %}, {% endif %}{% endfor %}</span>
		{% endif %}
      </p></figcaption>
      <audio
        controls
        preload="none"
        src="{{ music.path|url }}">
        Your browser does not support the <code>audio</code> element.</audio>
    </figure>
  </div>
  {% endfor %}
{% endblock %}
