{% extends "layout.html" %}
{% block title %}Netlabel{% endblock %}
{% block body %}
  {{ this.content }}

  <div class="container row">
    <div class="col-sm-8">
      <h3>Artist List</h3>
      {% for child in this.children %}
        <h4><a href="{{ child|url }}">{{ child.name }}</a>
            {% if child.archive %}(from the archive){% endif %}</h4>
      {% endfor %}
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default tag-panel">&nbsp;</div>
    </div>
  </div>
{% endblock %}
